h1{
    font-size: 87px;
    color: black;
}
p{
    color:#5432f1;
}
body{
    background-image:
        url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjQK4SbCpnz82aGhSvgXEQQp4zQ-ns5wqVxOVVRm-N7_jpWAR3");
}